<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <form role="form" method="post" th:object="${categoryFormDTO}">

        <h2 class="mb-4">
            분류 등록
        </h2>

        <input type="hidden" th:field="*{id}">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">이름</span>
            </div>
            <input type="text" th:field="*{name}" class="form-control" placeholder="분류의 이름을 입력하세요">
        </div>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Incorrect data</p>

        <button th:if="${#strings.isEmpty(categoryFormDTO.id)}" th:formaction="@{/category/create}" type="submit" class="btn btn-primary mt-4">등록</button>
        <button th:unless="${#strings.isEmpty(categoryFormDTO.id)}" th:formaction="@{/category/update}" type="submit" class="btn btn-primary mt-4">수정</button>
        <button th:onclick="window.location.href='/category/list';" type="button" class="btn btn-primary mt-4">취소</button>
        
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

</div>

</html>